.home-container {
  padding: 40px;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 14px;
  color: #7e7e7e;
}

.start-button {
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}

@media (min-width: 576px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 24px;
  }

  .start-button {
    font-size: 16px;
  }
}
